{% extends 'base.html' %}

{% block content %}
<h2>Project Entries</h2>

{% if not project_entries %}
<p>Belum ada data project pada tokemasa_86.</p>
{% else %}
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    {% for project_entry in project_entries %}
    <tr>
        <td>{{ project_entry.gold_name }}</td>
        <td>{{ project_entry.price }}</td>
        <td>{{ project_entry.description }}</td>
        <td>{{ project_entry.quantity }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />
<a href="{% url 'main:create_project_entry' %}">
    <button>Add New Project Entry</button>
</a>
{% endblock content %}